body
  {
    background-color:#defcfc;
  }
  hr
  {
    border-style:none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }
  h1,h3{
    color:#66BFBF;
  }
  .me
  {
    border-radius:50%;
  }
